body {
    color: rgb(0, 153, 255);
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
  }

  header {
    border-bottom: solid 2px rgb(240, 21, 13);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 42, 42);
  }
  
  section {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flix;
    justify-content: conter;
  }
  
  .chamada-texto {
    margin-right: 8%;
  }
  
  h1 {
    font-size: 50px;
  }
  
  p {
    font-size: 50px;
  }